main {
  height: 100vh;
  flex-direction: column;
}

span {
  font-family: var(--regFont);
  font-weight: normal;
}

div, #myFriends div {
  font-family: var(--headFont);
}

#userBox {
  width: 90%;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 15px;
  transition: background-color .25s;
}

#userFriendsBox {
  margin-right: 100px;
}

#userFriendsBox > h2 {
  margin-left: 20px;
}

#userDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

#myFriends {
  width: 250px;
  margin: 20px;
  max-height: 50vh;
  overflow-y: scroll;
}

#myFriends img {
  width: 50px;
  margin-right: 10px;
}

#myFriends a {
  justify-content: flex-start;
  margin-bottom: 15px;
}

#myFriends a:hover {
  background-color: background-color: rgba(100, 100, 100, .6);
}

#myFriends a:active {
  background-color: rgba(40, 40, 40, .6);
}

#myInfo, #myPicture, form {
  flex-direction: column;
}

select {
  height: 40px;
  width: 150px;
  border-style: var(--borderStyle);
  border-width: var(--borderWidth);
  border-color: black;
  color: black;
}

#userDiv .btnHolder {
  margin-top: 50px;
}

.infoHolder {
  flex-direction: column;
  height: 300px;
  justify-content: space-between;
}

#infoDiv > div:first-child > div:nth-child(1), #infoDiv > div:first-child > div:nth-child(4), form > div:first-child, label:nth-child(5), form > div:nth-child(2) > div:last-child {
  position: relative;
  left: 45px;
}

label:first-child {
  margin-top: 20px;
}

.inputHolder {
  margin: 0px;
  margin-bottom: 10px;
}

#pictureDiv {
  margin-left: 50px;  
}

#planetBackGround {
  background-image: url(../media/planets/earth.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#pictureDiv > div:first-child {
  height: 300px;
  justify-content: space-between;
}

#pictureDiv img:first-child {
  width: 250px;
}

#pictureDiv img:nth-child(2) {
  height: 350px;
}

#lowerBox {
  width: 90%;
  justify-content: space-between;
}

#lowerBox > .btnHolder {
  margin-top: auto;
}

#cover {
  position: absolute;
  top: 0px;
  z-index: 9;
  width: 100%;
  height: 100vh;
  background-color: var(--transpColor);

  display: flex;
  flex-direction: column;
}

#picChoices {
  /* position: absolute;
  top: 23vh; */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 15px;
  z-index: 10;
  padding: 30px;
}

#picChoices > nav:nth-of-type(1){
  grid-row: 1/2;
  grid-column: 1/6;
}

#coverNav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#picChoices img {
  width: 100px;
  border-radius: 50%;
  transition: background-color .25s;
}

#picChoices img:hover {
  cursor: pointer;
  background-color: rgba(100, 100, 100, .6);
}

#picChoices img:active {
    background-color: rgba(40, 40, 40, .6);
}

.chosen {
  background-color: white;
}



#cross {
  background-color: var(--nBColor);
  border-radius: 5px;
  width: 35px;
  height: 35px;
  transition: background-color .25s;
}

#cross:hover {
  cursor: pointer;
  background-color: var(--nHColor);
}

#cross:active {
  background-color: var(--nBGColor);
}

#cross > h1 {
  transform-origin: center;
  transform: rotate(45deg);
  font-size: 40px;
}